<h1><img src="../../assets/Images/volumetrackerpro.png" />Welcome to Volume Tracker</h1>
<p>This is a Market Tracking tool that tracks the average volume of stock and looks for certain events such as when a large trade is made</p>
<p>This is a free to use website but all information is not guranteed to be accurate and should be researched accoridingly. Do not take this as investment advice</p>
<p>Devloped By: David Rowan </p>
  <ul> <a href="https://github.com/drowan9278/VolumeTrackerPro">Github</a></ul>
  <ul> <a href="www.linkedin.com/in/david-rowan-581b97115">LinkedIn</a></ul>
  
