
<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-9030571635765607",
    enable_page_level_ads: true
  });
  </script>
</head>
<h1><img src="../../assets/Images/volumetrackerpro.png" />Welcome to Volume Tracker  </h1>
<p>This is a Market Tracking tool that tracks the average volume of stock and looks for certain events such as when a large trade is made</p>
<p>This is a free to use website but all information is not guranteed to be accurate and should be researched accoridingly. Do not take this as investment advice</p>
<p>Devloped By: David Rowan *This is a personal Project but please feel free to post issues to github below and I will try to get to them as fast as possible </p>
  <ul> <a href="https://github.com/drowan9278/VolumeTrackerPro">Github</a></ul>
  <ul> <a href="www.linkedin.com/in/david-rowan-581b97115">LinkedIn</a></ul>
  
